@{
    Layout = "_Layout";
}
@section upTitle{
    @RenderSection("upTitle")
}
<!--右侧 侧边栏-->
<main class="container ">
    <div class="row">

        <article class="col-md-9">
            @RenderBody()
        </article>

        <aside class="col-md-3 ">
        </aside>

    </div>
</main>
<!--侧边栏结束-->
