@page
@model RazorPages.Pages.ArticleChangeModel
@{
    Layout = "_ContentCreate";
}
@section upTitle{
    文章修改
}

<h2 class="page-header">
    <span class="fa fa-pencil-square-o"></span>
    文章修改
</h2>
<hr />

<form method="post" class="form-group" asp-page="/Pages/Entity/Content/ArticleChange">
    <label>标题：（* 必填）</label>
    <span asp-validation-for="article.Title"></span>
    <input asp-for="article.Title" value="@Model.article.Title" placeholder="来一个醒目的标题吧" style="background-color: rgb(204, 232, 207);" class="form-control">

    <label>内容：（* 必填）</label>
    <span asp-validation-for="article.Body"></span>
    <input asp-for="article.Body" value="@Model.article.Body" style="background-color: rgb(204, 232, 207);" class="form-control">

    <br />
    <input type="submit" value="发布为最新" class="btn btn-primary loading">
</form>